
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}
    
    <div class="mt-5">
        <label hidden="hidden" id="ScreenName" value="Settings"></label>
    </div>
<div class="container text-center ml-2"><label class="ml-2">Select Monthly Starting Date</label><input class="ml-2" type="date"><button class="btn btn-primary ml-2" type="button">Save</button></div>
