@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Master_Layout.cshtml";
}

<section class="mt-5">
    <div class="container">
        <label hidden="hidden" id="ScreenName" value="About"></label>
        <div class="photo-card">
            <div class="photo-background" style="background-image:url('@Url.Content("~/images/product-aeon-feature.jpg")')"></div>
            <div class="photo-details">
                <h1>Tauseef Akram</h1>
                <p>
                    Hi, I am Tauseef Akram
                </p>
            </div>
        </div>
    </div>
    </section>
